@media (max-width: 1800px) {

    .listing-project .table thead th,
    .listing-project .table tbody td {
        padding: 27px 10px;
        font-size: 0.775rem;
    }
}

@media (min-width:1500px) {
    .keyword-edit {
        .modal-xl {
            max-width: 1473px;
        }
    }
}

@media (max-width: 1536px) {

    html {
        font-size: 14px;
    }

    .cards-listing .card-body .card-title {
        line-height: 1.5;
    }

    .tabs-area-main.collapes-side .nav-tabs .nav-link {
        height: 94px;
    }

    .tabs-area-main.collapes-side .nav-tabs .nav-link img {
        height: 20px;
    }

    .side-bar-tabs .nav-pills .nav-link {
        height: 94px;
    }

    .side-bar-tabs .nav-pills .nav-link img {
        height: 20px;
    }

    .side-bar-tabs .nav-pills .nav-link.active:before,
    .side-bar-tabs .nav-pills .nav-link.active:after {
        border: 5px solid #171616;
    }

    .count-info h5 {
        font-size: 1rem;
    }

    .filter-area {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1.5rem !important;

        h1 {
            font-size: 2rem;
        }
    }

    .cards-listing .card-body .card-title {
        font-size: 1.5rem;
    }

    .dashboard .cards-listing .card .card-title sub {
        font-size: 1rem;
    }

}

// @media (max-width: 1700) and (min-width: 1440px) {

//     .count-info {
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 20px;
//         padding: 0 0 30px 0;

//         span.devider {
//             display: none;
//         }
//     }
// }

@media (max-width: 1440px) {

    .custom-templates-area {
        padding-right: calc(1.875rem + 80px);
    }

    .tabs-area-main {
        position: fixed;
        top: 80px;
        width: 708px;
        right: 0;
        height: calc(100vh - 80px);
        transition: 0.4s;
        z-index: 999;

        &.container-open-sidebar {
            width: 80px;
        }

        &.fixed-sidebar-right {
            width: 80px;

            &.open-sidebar {
                width: 708px;
            }
        }
    }

    .tabs-area-main.container-open-sidebar .tab-content {
        display: none;
    }

    .tabs-area-main.container-open-sidebar .nav-tabs {
        height: 100%;
        flex-direction: column;
        width: 80px;
        justify-content: flex-start;
        box-shadow: none;
    }

    .tabs-area-main.container-open-sidebar .nav-tabs li {
        flex: 0;
    }

    .tabs-area-main.container-open-sidebar .nav-tabs .nav-link {
        font-size: 0.56rem;
        padding: 12px;
        width: 80px;
        box-sizing: border-box;
        border: none;
        color: #7C828D;
        border-radius: 0;
        height: 94px;
    }

    .tabs-area-main.container-open-sidebar .nav-tabs .nav-link span {
        display: block;

        img {
            height: 20px;
            margin-bottom: 5px;
        }
    }

    .container-open-sidebar {

        .toggle-btn-sidebar {
            display: unset;
        }
    }
}

@media (max-width: 1200px) {

    .table tbody td,
    .table thead th {
        padding: 12px 14px;
    }

    .full-lenth-area {
        padding: 22px 140px 45px 105px;
    }
}

@media (max-width: 1173px) {

    .filter-area .filter-fields {
        flex-wrap: wrap;
    }

    .filter-area .filter-fields .fields {
        width: 100%;
    }

    .filter-area .filter-fields .cs-secondary-btn,
    .filter-area .filter-fields .cs-secondary-btn-outline {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .form-fields .form-banner {
        display: none;
    }
}

@media (max-width: 991px) {
    .modal .modal-footer button {
        width: 100%;
    }

    .all-projects .single-project {
        margin-bottom: 20px;
    }

    .all-projects .single-project .project-numbers .col-md-4:not(:last-child) .inner-number::before {
        display: none;
    }

    .profile-res {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .d-flex {
        &.justify-content-end {
            justify-content: flex-start !important;
        }
    }
}

@media (max-width: 767px) {

    html {
        font-size: 12px;
    }

    .full-lenth-area,
    .custom-templates-area,
    .full-lenth-area.full-section {
        padding: 15px 15px 45px 15px;
    }

    header .logo {
        width: 130px;
    }

    .profile-view-area strong {
        display: none;
    }

    .res-menu {
        display: flex;
    }

    .tabs-area-main,
    .fixed-sidebar-right,
    .tabs-area-main.open-sidebar {
        width: 100%;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        height: 100vh;
        background: transparent;
        z-index: 999;
        max-width: 100%;
    }

    .fixed-sidebar-right .close-sidebar,
    .tabs-area-main .close-sidebar {
        background: #17161675;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .tabs-area-main {
        top: 0;
    }

    .fixed-sidebar-right,
    .tabs-area-main.container-open-sidebar {
        top: 155%;
    }

    .tabs-area-main.open-sidebar {
        top: 0;
    }

    .toggle-btn-sidebar {
        position: fixed;
        top: -66%;
        left: unset;
        right: 25px;
        width: 60px;
        height: 60px;
    }

    .toggle-btn-sidebar a {
        width: 100%;
        height: 100%;
        background: #171616;
        border-radius: 90px;
    }

    .toggle-btn-sidebar .show-sidebar img,
    .toggle-btn-sidebar .show-sidebar.active img {
        transform: rotate(90deg);
    }

    .tabs-area-main.open-sidebar .toggle-btn-sidebar {
        display: none;
    }

    .tabs-area-main>.tab-content,
    .fixed-sidebar-right>.tab-content,
    .fixed-sidebar-right.open-sidebar>.tab-content {
        width: 100%;
        position: fixed;
        left: 49.9%;
        transform: translate(-49.9%, 100px);
        background: #252627;
    }

    .tabs-area-main .nav-tabs {
        position: fixed;
        width: 104%;
        bottom: 0;
        left: -2%;
        right: 0;
        height: 64px;
        overflow: auto;
        flex-wrap: nowrap;
    }

    .tabs-area-main .nav-tabs::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .tabs-area-main .nav-tabs .nav-link {
        font-size: 0.63rem;
        width: 110px;
        padding: 0;
        margin: 0 auto;
        padding: 0;
        height: 56px;
    }

    .tabs-area-main .nav-tabs .nav-link.active {
        border: none;
        background: #252627;
    }

    .tabs-area-main .nav-link span {
        display: inherit !important;
    }

    .tabs-area-main .nav-link span img {
        width: auto;
        height: 20px;
        margin-bottom: 6px;
    }

    .side-bar-tabs .scroll-bar-adj,
    .side-bar-content {
        height: calc(100vh - 164px);
    }

    .side-bar-tabs .nav-pills .nav-link:first-child {
        margin-top: 0;
    }

    .side-bar-tabs .nav-pills .nav-link.active:first-child:before {
        display: none;
    }

    .p-btn {
        min-width: 90px;
    }

    .side-bar-tabs .scroll-bar-adj .nav-pills {
        width: 80px;
    }

    .side-bar-tabs .scroll-bar-adj {
        width: 78px;
    }

    .side-bar-tabs .nav-pills .nav-link {
        width: 78px;
        padding: 0 8px;
    }

    .side-bar-tabs .scroll-bar-adj::-webkit-scrollbar {
        width: 2px;
    }

    .profile-avatar {
        width: 90px;
        height: 90px;
    }

    .edit-profile-avatar-btn,
    .edit-profile-avatar-btn:before {
        width: 20px;
        height: 20px;
    }

    .edit-profile-avatar-btn:before {
        background: url('../images/edit-profile.svg') no-repeat;
        background-size: 100%;
    }

    .profile-info-feilds .info-feild {
        flex: 0 0 100%;
    }

    .toggle-switch .form-check-label {
        font-size: 0.8rem;
    }

    .post-feilds label {
        font-size: 0.8rem;
    }

    .project-content-btn {
        right: 0;
        top: -7px;
        z-index: 9;
    }

    .page-tabs .grid-listing-tabs .nav-tabs {
        position: relative;
        top: unset;
        right: unset;
        gap: 15px;
        margin-top: 20px;
    }

    .table thead th {
        font-size: 0.88rem;
    }

    .project-card {
        width: auto;
        flex: 1;
    }

    #sidebar {
        position: fixed;
        width: 100%;
        height: calc(100vh - 80px);
        z-index: 9999;
        background: transparent;
        visibility: hidden;
    }

    #sidebar .close-menu {
        background: #17161675;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        height: calc(100vh - 80px);
        width: 100%;
    }

    #sidebar ul {
        height: 100%;
        margin: 0 !important;
        width: 80px;
        background: #171616;
        position: absolute;
        top: 0;
        left: -100px;
        transition: 0.5s;
    }

    #sidebar.active {
        visibility: visible;
    }

    #sidebar.active ul {
        left: 0;
        transition: 0.5s;
    }

    #sidebar li {
        padding-top: 30px;
    }

    #sidebar li a {
        height: 48px;
    }

    #sidebar li a img {
        height: 22px;
    }

    .table select {
        width: 152px;
    }
    .page-bredcrums {
        flex-direction: column;
        align-items: flex-start !important;

        nav {
            width: 100%;
            margin-bottom: 5px;
        }
    }

    .filter-options .select2-container {
        width: 100% !important;
    }

    .filter-options .select2-container--default .select2-selection--single {
        width: 100%;
    }

    .preview-link {
        margin-left: 0;
    }

    .filter-options {
        width: 100%;
        gap: 10px;
    }

    .tabs-area-main.container-open-sidebar {
        width: 100%;
    }

    .tabs-area-main {

        .toggle-btn-sidebar {
            display: none;
        }

        &.fixed-sidebar-right {
            .toggle-btn-sidebar {
                display: unset;
            }
        }
    }

    .tabs-area-main.container-open-sidebar .toggle-btn-sidebar {
        display: unset;
    }

    .tabs-area-main.fixed-sidebar-right,
    .tabs-area-main.fixed-sidebar-right.open-sidebar {
        width: 100%;
    }

    .optimize-info {
        flex-direction: column;

        .stats {
            margin-top: 20px;

            .info-title {
                padding-left: 0;
            }

            .col-md-6 {
                &:nth-child(odd) {

                    &::before {
                        display: none;
                    }
                }

                &:nth-child(3) {
                    border-bottom: 1px solid #393939;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .optimze-graph {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .tabs-area-main .inner-subtabs .nav-tabs {
        position: unset;
    }

    .tabs-area-main .inner-subtabs .nav-tabs .nav-link {
        height: auto;
    }

    .tabs-area-main .inner-subtabs .nav-tabs li {
        padding-right: 25px;
    }

    .create-project .project-fields {
        padding: 3.125rem 2rem;
    }

    .profile-res .card-box {
        padding: 3rem 2rem;
    }
}

@media (max-width: 515px) {

    .modal .customize .cutomize-footer {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .return .modal .customize .cutomize-footer .p-btn {
        width: 100%;
        margin: 0;
    }

    .return .modal .modal-body {
        padding: 0;
    }

    .return .modal .modal-footer {
        padding: 20px 0 0;
    }
}