.tabs-area-main {

    .nav-tabs {

        .nav-link {

            span {
                display: none;
            }
        }
    }
}

.container-open-sidebar {

    .toggle-btn-sidebar {
        display: none;
    }
}

.page-bredcrums {
    flex-wrap: wrap;
}